<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online Shop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewData["Css"]" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <nav>
                <a class="logo" asp-area="" asp-page="/Index">WebApp</a>
                <div class="menu">
                    <a asp-area="" asp-page="/Index">Home</a>
                    <a asp-area="" asp-page="/Shop">Shop</a>
                @{
                    if(User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-page="/ShoppingCart">Shopping Cart</a>
                        <a asp-area="" asp-page="/OrderHistory">Order History</a>
                        <a asp-area="" asp-page="/ClientDetails">Client Details</a>
                        <a asp-area="" asp-page="/Logout">Logout</a>
                    }
                    else
                    {
                        <a asp-area="" asp-page="/Login">Account</a>
                    }
                }
                </div>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            &copy; 2022 - WebApp - Grzegorz Malisz
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>