@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Css"] = "~/css/index.css";
}

<div class="text-center">
    <h1 class="display-4">Welcome
        @{
            @User.Identity.Name
        }
    </h1>
    <p>Online Shop RobertHeijn B.V.</p>
</div>
