@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Css"] = "~/css/index.css";
}

<div class="text-center">
    <h1 class="display-4">Welcome
        @{
            @User.Identity.Name
        }
    </h1>
    <p>Online Shop RobertHeijn B.V.</p>

    @if(Model.OrderSuccess.HasValue)
    {
        @if (Model.OrderSuccess.Value)
        {
                <h1>Order was placed successfully</h1>
        }
        else
        {
                <h1>Order couldn't be placed</h1>
        }
    }
</div>
