@page
@using LogicLayer.Models;
@model WebApp.Pages.ShopModel
@{
	ViewData["Title"] = "Shop";
	ViewData["Css"] = "~/css/shop.css";
}

@{
	foreach (Item item in Model.items)
	{
<div class="item">
	<div class="price">
		@item.Price
	</div>
	<div class="image">img</div>
	<div class="details">
		<div class="name">
			@item.Name
		</div>
		<div class="category">
			@item.Category @item.SubCategory
		</div>
		<div class="discount">
			2 for 29,99 Euro
		</div>
	</div>
	<button class="addToCart">
		Add to Cart
	</button>
</div>
	}
}